body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
}

/* Sección superior */
.top {
    background-color: rgb(255,214,128);
    padding: 40px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    
}
.cuadradoizquierda
{
    background-color: rgb(255,181,76);
    width: 300;
    height: 300;
};

.logo {
    width: 100px;
    height: 100px;
    background-color: #fbb040;
}

.middle
{

}
 
.bottom
{
    background-color: #ffc964; 
}