html, body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

/* Sección superior */
header {
    background-color: rgb(255,214,128);
    display: flex;
    width: 100%;
    height: 30%;
    
}

#headerizquierdo
{
    width: 45%;
    height: 100%;
}

#headerderecho
{
    position: relative;
    width: 55%;
    height: 100%;
}

#lineablanca1
{
    position: absolute;
    background-color: white;
    width: 80%;
    height: 5%;
    top: 25%;
}

#middle
{
    position: relative;
    width: 100%;
    height: 55%;
}
 
.square-row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 15%;
}

#row2
{
    top: 55%;
}

.square
{
    height: 100%;
    aspect-ratio: 1;
}

.bluesquare
{
    background-color: #c4edf1;
}

.redsquare
{
    background-color: #ff9978;
}

.yellowsquare
{
    background-color: #ffd680;
}

footer
{
    background-color: #ffc964; 
}